@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
  padding: 0;
  margin-left: -0;
}
.homebackground{
  background-color: #000;
  color: #ffffff;
  height: 100vh;
}



.logo{
  margin-left: 20px;
}

.navbar{
  background-color: #000;
  color: #ffffff
}
.navbar a:hover{
text-decoration: underline;
text-decoration-color: #EE6217;

}

.home-carousel{
  background-color: black;
}
.home-carousel1{
  background-color: black;
}
.home-carousel1 img{
  height: 550px;
}


.login{
  background-color: #000;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
}
form h1{
  font-family: 'Black Ops One', cursive;
}

form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

form #submitBtn {
  width: 80px;
  text-align: center;
}

#password{
  display: flex;
  margin-right: 10px;
  align-items: center;
  margin-left: 15px;

}
.productcard{
  margin-top: 10px;
  width: 600px;
  display:inline-flex;
  margin-left: 20px;
  background-color: #000;
  color: #ffffff;
}

.prodtitle{
  font-family: 'Black Ops One', cursive;
  text-align: center;
  margin-top: 30px;
  text-decoration: underline orange;
}
.prodtext{
  margin-top: -10px;
}

.prodbutton{
  float: right;
}



.transaction{
  text-align: center;
  margin: 20px;
  width: 700px;
  display: inline-flex;
  margin-left: 150px;
}


.register{
  margin-left: 350px;
}

.register h1{
  font-family: 'Black Ops One', cursive;
  text-decoration: underline orange;
}

.regpassword{
  display: flex;
  width: 200px;
}
#eye{
  margin-top: 10px;
  margin-left: 5px;
}